
@font-face {
  font-family: "Gilroy";
  src: 
    url("../fonts/gilroylight.woff") format("woff"),
    url("../fonts/gilroylight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: 
    url("../../fonts/gilroyextrabold.woff") format("woff"),
    url("../../fonts/gilroyextrabold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensanslight.woff") format("woff"),
    url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensans.woff") format("woff"),
    url("../fonts/opensans.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

body {
  margin: 0;
  background-color: #ffffff;

  font-family: "Gilroy", "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
  outline: none;
}

a:hover,
a:focus {
  opacity: 0.6;
}

a:active,
.sorting a[href] {
  opacity: 0.3;
}

.main-header {
  background-color: #f7e296;
}

.logo {  
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.search input {
  border: 0;
  background-color: transparent;
  outline: none;
  margin-right: 0;
  padding-right: 0;
}

.search input::placeholder {
  font-family:"Open Sans", "Arial", sans-serif;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  opacity: 0.3;
}

.search input:hover::placeholder {
  opacity: 0.6;
}

.search input:focus {
  border-bottom: 2px solid #000000;
}

.search-button {
  font-family:"Open Sans", "Arial", sans-serif;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  border: 2px solid black;
  background-color: transparent;
  outline: none;
}

.search-button:hover,
.search-button:focus{
  border: 2px solid black;
  background-color: #000000;
  color: #ffffff;
  margin-left: -5px;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation{
  list-style: none;
  font-family:"Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.user-navigation-logout {
  opacity: 0.3;
  letter-spacing: 0.01em;
}


.menu {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  list-style: none;
  text-transform: uppercase;
}

.menu-second {
  font-family:"Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  list-style: none;
  padding: 0;
  text-transform: none;
}

.button {
  font-family:"Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-align: center;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  background-color: transparent;
  background-image: linear-gradient(
    to bottom, 
    transparent 16px,
    #f0c52e 16px,
    #f0c52e 23px, 
    transparent 23px);
  border: 0;
  padding: 8px 40px;
  outline: none;
}
/* Кнопка при помощи псевдоэлемента https://codepen.io/mrshaftoe/pen/LXoRBp */
.button:hover,
.button:focus {
  opacity: 1;
  background-image: none;
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3)
}

.carousel-slides {
  list-style: none;
}

.carousel-slide-number {
  
  font-weight: 800;
  font-size: 180px;
  line-height: 180px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.carousel-slide-slogan {
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
}

.carousel-slide-text{
  font-family:"Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
}
.carousel-slide-parameters th {
  font-family:"Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.carousel-slide-parameters td {
  
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.catalog-categories-list {
  list-style: none;
  
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}
.catalog-categories-list img {
  background-color: rgba(240, 197, 46, 0.5);
}
.catalog-categories-list a:hover,
.catalog-categories-list a:focus {
  opacity: 1;
}

.catalog-categories-list a:hover img,
.catalog-categories-list a:focus img {
  background-color: rgba(240, 197, 46, 1);
}

.catalog-categories-list a:active p{
  color: rgba(0, 0, 0, 0.3);
}
.services {
  background-color: #e5e5e5;
}
.services-list {
  list-style: none;
}

.services-description-heading {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}
.services-list .button:active {
  background-color: #000000;
  color: #f7e184;
  background-image: none;
}
.services-descriptions p {
  font-family:"Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.vendors-list {
  list-style: none;
}

.company-info-title {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.company-info p {
  font-family:"Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0;
}

.delivery-list {
  font-family:"Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0;
}
.main-footer .logo {
  color: #ffc600;
}


.main-footer a {
  color: #ffffff;
}



.footer-address, 
.footer-phone {
  font-family:"Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0;
  color: #ffffff;
}

.social {
  list-style: none;
}
.modal {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
}

.modal.modal-map {
  display: none;
}
.modal input,
.modal textarea {
  outline: none;
  border: none;
  background-color: #f2f2f2;
}

.modal input:hover,
.modal textarea:hover {
  background-color: #eaeaea;
}

.modal input:focus,
.modal textarea:focus {
  background-color: #ffffff;
  outline: 3px solid #f7e296;
}

.modal input:invalid {
  background-color: #f6dada;
  outline: none;
}
.modal label
{
  font-family:"Gilroy", "Arial", sans-serif;
  font-weight: 800;
}

.page-item-title {
  font-family:"Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs {
  list-style: none;
  font-family:"Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  opacity: 0.3;
}

.catalog-options-heading {
  font-family:"Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  
}

.filters .catalog-options-heading {
  background-color: rgba(0, 0, 0, 0.08);
}

.filters, .sorting {
  background-color: rgba(0, 0, 0, 0.05);
}
.catalog-items-list {
  list-style: none;
}

fieldset {
  border: none;
}



.filter-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.filter-item-name {
  font-family:"Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.catalog-item-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.catalog-item-price {
  font-family:"Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.catalog-pagination {
  list-style: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.05);
}

.catalog-pagination-number {
  opacity: 0.3;
}

.catalog-pagination-number:hover,
.catalog-pagination-number:focus {
  opacity: 0.6;
}

.catalog-pagination-number:active,
.catalog-pagination-number:not([href]) {
  opacity: 1;
}

.catalog-pagination-nav-button:hover,
.catalog-pagination-nav-button:focus {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.08);
}
.catalog-pagination-nav-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-type {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
}

.sorting ul {
  list-style: none;
}

.compare-add {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.01em;
  opacity: 0.5;
}

.min-max{
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-footer {
  background-color: #464646;
}